body{
    background-color: rgb(204, 0, 0);
}
.center {
    text-align: center;
}
.texto1{
    word-spacing: 10px;
    background-color: gray;
}
.texto2{
    word-spacing: 10px;
    background-color: gray;
}
.center {
    text-align: center;
}